$dark-purple: #4c1367;
$dark-purple-tint: rgba(76, 19, 103, .5);
$mid-dark-purple: #702283;
$highlight-foreground: #fff;
$highlight-background: #d18ee2;

#nav {
  color: $highlight-background;
  font-weight: 600;
}

#sidebar,
#overbar {
  background-color: $mid-dark-purple;
}

#sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 246px;
  position: absolute;
  top: 0;
  width: 15vw;
  z-index: 1000;

  .btn {
    display: flex;
  }

  ul { flex-grow: 1 }

  .navbar-brand {
    background-color: $dark-purple;
    padding: 15.375px 0;
  }

  li:hover {
    background-color: $dark-purple-tint;
    color: $highlight-foreground;
  }
}

#nav-footer {
  cursor: default;
  padding: 1px;
  user-select: none;
  width: 100%;

  > .row {
    align-content: center;
    display: flex;
    font-size: 11px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 1px;
  }

  img {
    height: auto;
    margin-bottom: 22px;
    width: 113px;
  }
}

#overbar {
  display: none;
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  &.show {
    display: flex;
  }

  > * {
    margin-left: 1rem;
  }

  .navbar-brand {
    padding: 7.375px 0;
  }
}

.btn,
.navbar-brand {
  cursor: pointer;
  user-select: none;
}

.route-icon-container {
  left: 30px;
  padding-top: 2.25px;
  position: absolute;

  + div {
    margin-left: 68px;
  }
}

.route-icon {
  max-height: 17px;
  max-width: 17px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
  padding: 16.546px 0;

  &.active-route {
    background-color: $dark-purple-tint;
    color: $highlight-foreground;
  }
}
