@import './global';
@import './orderGlobal';

.estimate {
  color: $middle;
  cursor: pointer;
  font-size: 11px;
  height: 251px;
  line-height: 14px;
  margin-bottom: 20px;
  padding: 15px;
  width: 293px;

  &.floater {
    bottom: 20px;
    position: fixed;
    right: 20px;
  }

  > * {
    cursor: default;
    margin: 8px;
  }

  div {
    align-items: center;
    display: flex;
    justify-content: space-between;

    :first-child {
      margin-right: 15px;
    }
  }

  .subtotal-label,
  label {
    color: $dark-text;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
  }
}

.total-label {
  color: $dark-text;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

hr {
  border-bottom: solid thin $hr;
}

.total {
  color: $dark-text;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

input {
  color: $middle;
  font-size: 11px;
  height: 28px;
  line-height: 14px;
  text-align: center;
  width: 81px;

  &#tax {
    width: 54px; // off-spec because of spinners
  }
}

@include bp-small {
  #order-estimate {
    padding: 0;
    hr {
      margin-left: 0;
      margin-right: 0;
    }
  }


  .estimate {
    border-top: solid thin $vector-tint;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 20px;
    margin-top: 28px;
    width: 100%;

    .subtotal-label,
    label {
      font-size: 14px;
      line-height: 18px;
    }

    input {
      padding-top: 7px;
      padding-bottom: 9px;
      font-size: 13px;
      line-height: 16px;
    }

    .form-group {
      > :first-child {
        text-align: left;
        flex-grow: 2;
      }
      :last-child {
        flex-grow: 1;
        max-width: 33%;
        font-size: 13px;
        line-height: 16px;

        #tax  {
          max-width: 75px;
        }
      }
      .subtotal {
        display: inline-block;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
      }

    }

    > div:last-child{
      margin-top: 14.46px;
    }

    .total-label {
      font-size: 16px;
      line-height: 19px;
    }
    .total {
      font-size: 24px;
      line-height: 29px;
    }
  }
}
