$paper: #f8f8f8;
$white: #fff;
$shadow: #c9c9c9;
$middle: #89a;
$base: #f4f7f8;
$dark-text: #626272;
$highlight-text: #6C5E73;
$modal-tint: rgba(256/3, 256/3, 256/3, .7);
$glass: rgba(0, 0, 0, 0);

$lined-shadow: 0 -1px 0 0 $shadow;

#show-order {
  margin-right: 15px;
}

.base {
  background-color: $base;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;

  &.modal-base {
    background-color: $modal-tint;
    z-index:0;
  }
}

.breadcrumbs {
  color: $highlight-text;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding: 33px 0;
  text-align: left;

  .route {
    opacity: .2;

    &:after {
      content: '/'
    }
  }
  .id {
    opacity: 1;
  }
}

h4 {
  color: $dark-text;
  font-size: 12px;
  line-height: 15px;
  margin: 20px 0 15px;
  text-align: left;
}

.remarks {
  color: $middle;
  margin-top: 0;
  padding: 15px;
  text-align: left;
}

.box {
  background-color: $white;
  border: solid thin $shadow;
  border-radius: 3px;
  margin-bottom: 15px;
}

.toprow,
.actions,
.order {
  display: flex;
  justify-content: space-between;
}

.actions {
  align-items: center;
  margin-bottom: 15px;
}

.edit-button {
  cursor: pointer;
  height: auto;
  max-width: 19px;
}

.control.search {
  max-height: (2px * (64 / 3));

  img, svg {
    /* TODO -  I'm sure there's a more elegant solution to this, but I'm out of time */
    margin-left: (((2px * (64 / 3)) - (2px * (64/8)))/2);
    width: (2px * (64/8));
    z-index: 2;
  }

  input {
    border: 0;
    border-bottom: solid thin $shadow;
    font-size: 12px;
    line-height: 12px;
    /* TODO -  I'm sure there's a more elegant solution to this, but I'm out of time */
    margin-left: ((-2px * (64/8)) + (-1*(((2px * (64 / 3)) - (2px * (64/8)))/2)));
    padding-left: ((2px * (64/8)) + (2*(((2px * (64 / 3)) - (2px * (64/8)))/2)));
    z-index: 1;
    width: 100%;
  }
}

.clear-search {
  cursor: pointer;
}

.order {
  /* TODO - specifications for line heights do not match rendered output.
  Need artist to reposition lines of text properly or give new line-heights.
  As a work-around, using the > div rule below. */

  color: $middle;
  font-size: 12px;
  line-height: 15px;
  padding: 12px;
  text-align: left;
  min-width: 1085px - 256px;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  > div + div {
    margin-left: 15px;
  }

  .name {
    color: $dark-text;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  .telephone {
    font-weight: 600;
  }

  h3 {
    color: $dark-text;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    text-align: center;
  }
}

.btn {
  font-size: 14px;
  line-height: 18px;
  height: 44px;
  padding: 0 15px;
  margin-left: 15px;
}

.btn-primary {
  background-color: $middle;
  border: none;

  &:hover {
    border: solid thin $shadow;
  }
}

.btn-secondary {
  background-color: $glass;

  &:hover {
    background-color: $paper;
    border: solid thin $shadow;
  }
}

li {
  background-color: $white;
  color: $middle;
  display: flex;
  height: 64px;
  justify-content: space-around;
  list-style: none;
  min-width: 1085px;

  div {
    align-items: center;
    display: flex;
    width: 11.11%;
  }

  :nth-child(2) {
    width: 22.22%;
  }

  .cancel {
    display:flex;
    flex-direction: row-reverse;

    a {
      cursor: pointer;
      color: $dark-text;
      text-decoration: underline;
    }
  }
}

.line-items {
  left: 37px;
  margin: 0;
  padding: 0;

  .top {
    color: $dark-text;

    .column {
      justify-content: center;
      text-transform: uppercase;
    }
  }

  .line-item:nth-child(even) {
    background-color: $paper;
  }

  .line-item {
    box-shadow: $lined-shadow;

    &:hover {
      border: solid thin $shadow;
    }

    .sku {
      color: $dark-text;
    }

    .discount,
    .quantity {
      display: flex;
      justify-content: center;
    }

    div {
      text-align: left;
    }
  }
}
