@import './orderGlobal';

#show-order {
  margin-right: 15px;
}

.base {
  background-color: $base;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;

  &.modal-base {
    background-color: $modal-tint;
    z-index: 0;
  }
}

.breadcrumbs {
  color: $highlight-text;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding: 33px 0;
  text-align: left;

  .route {
    opacity: .2;

    &:after {
      content: '/';
    }
  }
  .id {
    opacity: 1;
  }
}

h4 {
  color: $dark-text;
  font-size: 12px;
  line-height: 15px;
  margin: 20px 0 15px;
  text-align: left;
}

.remarks {
  color: $middle;
  margin-top: 0;
  padding: 15px;
  text-align: left;
}

.edit-button {
  cursor: pointer;
  height: auto;
  max-width: 19px;
}

li {
  background-color: $white;
  color: $middle;
  display: flex;
  height: 64px;
  justify-content: space-around;
  list-style: none;
  min-width: 1085px;

  div {
    align-items: center;
    display: flex;
    width: 11.11%;
  }

  :nth-child(2) {
    width: 22.22%;
  }

  .cancel {
    display: flex;
    flex-direction: row-reverse;

    a {
      color: $dark-text;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.line-items {
  margin: 0;
  padding: 0;
  position: relative;

  .top {
    color: $dark-text;

    .column {
      justify-content: center;
      text-transform: uppercase;
    }
  }

  .line-item:nth-child(even) {
    background-color: $paper;
  }

  .line-item {
    box-shadow: $lined-shadow;

    &:hover {
      border: solid thin $shadow;
    }

    .sku {
      color: $dark-text;
    }

    .discount,
    .quantity {
      display: flex;
      justify-content: center;
    }

    div {
      text-align: left;
    }
  }
}

.editable-quantity {
  width: 54px; /* off-spec because of spinner */
}
